<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="Scorecard"
            android:name=".scorecard">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="@string/Gk"
            android:name=".gk" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="Music"
            android:name=".music">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="History"
            android:name=".history">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="Sport"
            android:name=".sport">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="Geography"
            android:name=".geography">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="@string/art"
            android:name=".art">
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:label="Mathematics"
            android:name=".mathematics">
        </activity>

    </application>

</manifest>